<h1> <%= @job.title %> </h1>

<p>
  <%= @job.description %>
  <%= @job.contact_email %>
</p>

<div class="text-center">
  <%= link_to("投交履歷", "#", :style => "font-size: 30px; text-decoration:underline;") %>
</div>
